name: Update BTFHub Archive
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch: {}
jobs:
  build:
    name: Update BTF Archive
    runs-on: ubuntu-22.04
    steps:
      #
      - name: Authenticate
        run: |
          gh auth login --with-token <<<'${{ secrets.PAT_RAFAEL }}'
      #
      - name: Check out BTFHub
        uses: actions/checkout@v3
        with:
          repository: aquasecurity/btfhub
          path: ./btfhub
          token: ${{ secrets.PAT_RAFAEL }}
      # Authenticate
      - name: Checkout BTFHub Archive
        uses: actions/checkout@v3
        with:
          repository: aquasecurity/btfhub-archive
          path: ./btfhub-archive
          token: ${{ secrets.PAT_RAFAEL }}
      #
      - name: Install Dependencies
        uses: ./btfhub/.github/actions/build-dependencies
      #
      - name: Bring current BTFHub Archive
        run: |
          cd btfhub
          make bring
      #
      - name: Compile BTFHub Tool
        run: |
          cd btfhub
          make
      #
      - name: Fetch and Generate new BTFs (UBUNTU)
        run: |
          cd btfhub
          ./btfhub -workers 10 -d ubuntu
      #
      - name: Fetch and Generate new BTFs (DEBIAN)
        run: |
          cd btfhub
          ./btfhub -workers 10 -d debian
      #
      - name: Take new BTFs to BTFHub Archive
        run: |
          cd btfhub
          make take
      #
      - name: Check Status
        run: |
          cd btfhub-archive
          git status
      #
      - name: Commit and Push to BTFHub Archive
        run: |
          cd btfhub-archive
          git config --local user.name "Rafael David Tinoco"
          git config --local user.email "rafaeldtinoco@gmail.com"
          git add -A
          git diff-index --quiet HEAD || git commit -m "Update BTFHUB Archive from BTFHUB"
          git push
