name: Update BTFHub Archive
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch: {}
jobs:
  build:
    name: Update BTF Archive
    env:
      HOME: "/tmp/root"
      GOPATH: "/tmp/go"
      GOCACHE: "/tmp/go-cache"
      GOROOT: "/usr/local/go"
    runs-on:
      [
        "github-self-hosted_ami-0f66f3ab4856ffc3f_${{ github.event.number }}-${{ github.run_id }}",
      ]
    steps:
      #
      - name: Authenticate
        run: |
          gh auth login --with-token <<<'${{ secrets.PAT_RAFAEL }}'
      #
      - name: Install Dependencies
        run: |
          apt-get update -y
          apt-get install -y pahole
      #
      - name: Check out BTFHub
        uses: actions/checkout@v3
        with:
          repository: aquasecurity/btfhub
          path: ./btfhub
          token: ${{ secrets.PAT_RAFAEL }}
      # Authenticate
      - name: Checkout BTFHub Archive
        uses: actions/checkout@v3
        with:
          repository: aquasecurity/btfhub-archive
          path: ./btfhub-archive
          token: ${{ secrets.PAT_RAFAEL }}
      #
      - name: Bring current BTFHub Archive
        run: |
          cd btfhub
          make bring
      #
      - name: Compile BTFHub Tool
        run: |
          cd btfhub
          make
      #
      - name: Fetch and Generate new BTFs (UBUNTU)
        run: |
          cd btfhub
          ./btfhub -workers 12 -d ubuntu
      # debian stretch seems to be gone, updates for buster and bullseye only
      - name: Fetch and Generate new BTFs (DEBIAN)
        run: |
          cd btfhub
          ./btfhub -workers 12 -d debian -r buster
          ./btfhub -workers 12 -d debian -r bullseye
      #
      - name: Fetch and Generate new BTFs (CENTOS)
        run: |
          cd btfhub
          ./btfhub -workers 12 -d centos
      #
      - name: Fetch and Generate new BTFs (FEDORA)
        run: |
          cd btfhub
          ./btfhub -workers 12 -d fedora
      #
      - name: Fetch and Generate new BTFs (ORACLE)
        run: |
          cd btfhub
          ./btfhub -workers 12 -d ol
      #
      - name: Take new BTFs to BTFHub Archive
        run: |
          cd btfhub
          make take
      #
      - name: Check Status
        run: |
          cd btfhub-archive
          git status
      #
      - name: Commit and Push to BTFHub Archive
        run: |
          cd btfhub-archive
          git config --local user.name "Rafael David Tinoco"
          git config --local user.email "rafaeldtinoco@gmail.com"
          git add -A
          git diff-index --quiet HEAD || git commit -m "Update BTFHUB Archive from BTFHUB"
          git push
